[alias]
	commit-all = !git add -A . && git commit -m
	discard = !git add . && git stash && git stash drop stash@{0}
	logline = log --pretty=oneline --abbrev-commit -n 20
	reset-soft = !git reset --soft HEAD^$1
	reset-hard = !git reset --hard HEAD^$1
	switch-default = "!f(){ \
		local d; \
		d=$(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'); \
		git switch $d; \
		git pull origin $d --rebase; \
	}; f"
	switch-local = !git switch $(git branch | fzf)
	switch-remote = !git fetch --all && git switch -t $(git branch -r | fzf)
[user]
    name = kei6u
